@frontend:registry=https://gitlab.dev.renhealth.com/api/v4/packages/npm/
//gitlab.dev.renhealth.com/api/v4/packages/npm/:_authToken=cGU6v6M2zQkd9izoXvVc
//gitlab.dev.renhealth.com/api/v4/projects/248/packages/npm/:_authToken=cGU6v6M2zQkd9izoXvVc
//registry.npmjs.org/:_authToken=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